<div>
    <div>
        <h1>
            <img src="~/icon.jpg">
            Welcome to IdentityServer4
        </h1>
    </div>
    <div>
        <p>
            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </p>
    </div>
</div>